.head {
    text-align: center;
}

.form {
    color: white;
    text-align: left;
}

.tab {
    background-color: blue;
}

td {
    width: auto;
}

.main {
    text-align: center;
}

.green {
    color: green;
}

.pur {
    color: purple;
}